@charset "utf-8";

@font-face {
font-family: bebas;
src: url(../fonts/bebas.ttf) format("truetype");
}

@font-face {
font-family: opensans;
src: url(../fonts/OpenSans.ttf) format("truetype");
}

html { overflow-y: scroll; }

body {
	background: #000;
 	margin-top: 0px;
 	margin-right: 0px;
 	margin-bottom: 0px;
 	margin-left: 0px;
 	background-size: 100%;
 	background:#000 url(../image/background.jpg)  no-repeat center center fixed; 
 	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#Header {
	width: 100%;
	background: #000;
	padding-bottom: 30px;
	padding-top: 30px;
	padding-left: auto;
	padding-right: auto;
	position: fixed;
}

#Wrap {
	width: 90%;
	margin-left: 10%;
    margin-right: auto;
}

#Banner {
	width: 100%;
	background:url(../image/wood.jpg);
	background-repeat: no-repeat;
}

#Slider {
	width: 100%;
	overflow: hidden;
}

#Slider_Text {
	width: 50%;
	float: left;
}

#imageBanner {
	width: 50%;
	float: left;
}

#Content {
	padding-top: 200px; 
	width: 100%;
}

#container_about {
	background: url(../image/wood.jpg);
	background-repeat: repeat;
	min-height: 500px;
	-webkit-box-shadow: 0px -5px 7px 0px rgba(50, 50, 50, 0.50);
	-moz-box-shadow:    0px -5px 7px 0px rgba(50, 50, 50, 0.50);
	box-shadow:         0px -5px 7px 0px rgba(50, 50, 50, 0.50);
	overflow: hidden;
}

#Phone {
	float: right;
	padding-top: 10px;
	padding-right: 60px;
}

#Products {
 	float: right;
 	width: 50%;
 	padding-left: 48px;
 	padding-bottom: 48px;
}

.imageProduct {
	width: 40%;
	float: left;
	margin-left: 2%;
	margin-right: 2%;
}

#wrapContact {
	width: 50%;
	margin-left: 5%;
	padding: 32px;
	overflow: hidden;
	background: #000;
}

#container_contact {
	background: url(../image/towel.jpg);
	background-repeat: repeat;
	min-height: 1000px;
	-webkit-box-shadow: 0px -5px 7px 0px rgba(50, 50, 50, 0.80);
	-moz-box-shadow:    0px -5px 7px 0px rgba(50, 50, 50, 0.80);
	box-shadow:         0px -5px 7px 0px rgba(50, 50, 50, 0.80);
	overflow: hidden;
}

#ContactInfo {
	width: 50%;
	float: left;
	overflow: hidden;
	
}

.ItemContact {
	overflow: hidden;
	padding: 30px;
}

.imageContact {
	height: 100%;
	max-height: 100px;
	float: left;

}

h1 {
	width: 30%;
	float: left;
	text-align: left;
	color: #FFF;
	font-size: 20px;
	font-family: opensans;
	margin-top: 0px;
 	margin-right: 0px;
 	margin-bottom: 48px;
 	margin-left: 0px;
 	padding-left: 160px;
 	padding-top: 20px;
 	padding-right: 20px;
 	padding-bottom: 20px;
 	text-align: justify;
 }

 h1#slider {
 	padding-left: 160px;
 	background: 0;
 	font-size: 30px;
 }

 h1.contact {
 	float: left;
 	margin-top: 0px;
 	margin-right: 0px;
 	margin-bottom: 0px;
 	margin-left: 0px;
 	padding-top: 10px;
 	padding-right: 10px;
 	padding-left: 40px;
 	line-height: 60px;
 }

 h2 {
 	text-align: right;
 	font-size: 18px;
 	color: #efc818;
	font-family: bebas;

 }

 h3 {
	text-align: left;
	padding-left: 160px;
	font-size: 60px;
	color: #efc818;
	font-family: bebas;
	margin-top: 0px;
 	margin-right: 0px;
 	margin-bottom: 0px;
 	margin-left: 0px;
 	text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.20);
 }

 h3#banner {
 	float: left;
 	width: 100%;
 	font-family: bebas;
 	padding-left: 160px;
 	padding-right: 160px;
 	padding-top: 160px;
	text-align: left;
	font-size: 80px;
 }

 h3#bannerMessage {
 	font-family: bebas;
	padding-left: 160px;
 	padding-right: 160px;
 	padding-top: 20px;
	text-align: left;
	font-size: 80px;
 }

 h3.about {
 	font-family: bebas;
	width: 100%;
 	padding-top: 64px;
	padding-bottom: 64px;
 }

 h3.contact {
 	font-family: bebas;
	width: 100%;
	margin-top: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
 	background: #000;
 }

/* -- MENU --*/

#cssmenu {
  width: auto;
  float: right;
  padding: 32px;
  margin-right: 2%;
  background-color: #000;
  -webkit-transition: height 0.5s linear;
  -moz-transition: height 0.5s linear;
  transition: height 0.5s linear;
}

#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
  vertical-align: middle;
  -webkit-transition: height 0.5s linear;
  -moz-transition: height 0.5s linear;
  transition: height 0.5s linear;
}

#cssmenu ul:after {
  content: ' ';
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  float: left;
  display: block;
  padding: 0;
  -webkit-transition: height 0.5s linear;
  -moz-transition: height 0.5s linear;
  transition: height 0.5s linear;
}
#cssmenu ul li a {
  color: #efc818;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: opensans, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: #e5d071;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: '';
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#cssmenu ul li a:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #efb31d;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #ffd100;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    height: 1px;
    background: #ffffff;
    width: 100%;
    opacity: .2;
  }
  #cssmenu ul li.last > a:before,
  #cssmenu ul li:last-child > a:before {
    display: none;
  }
}